@charset "UTF-8";

/* 		body {
    color: #616161;
    overflow-x: hidden;
    height: 100%;
    background-color: #ECEFF1;
    background-repeat: no-repeat
} */

.interior_form{
width: 700px

}


@media screen and (max-width: 765px) and (min-width: 300px){

.interior_form{
width: 500px

}



.container-fluid{
 width:auto;

}
.table-container{
	 width:100%;	
	 overflow-x:auto;
     white-space: nowrap;
	}
   
 table{
    width:auto;
 } 
 
 .container-fluid{
 
   width:auto;
 }
 
 .card px-0 pt-4 pb-0 mt-3 mb-3{
 	 width:auto;
 }
 
 .col-lg-12{
 
 width:auto;
 }
 
 .form-card{
 
 	 width:auto;
 }
 
 #msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
    
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
  /*   background: white; */
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}
 
 
}
	
	
	
h5, h6{
 color: #00365b;

}	
		
		
* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

/* #grad1 {
    background-color: : #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA)
} */

/* #msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}
#msform fieldset .form-card {
     background: white; 
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
} 
*/
#msform fieldset {
    /* background: white; */
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}




#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
    width:400px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #e6d71a;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "01"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "02"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "03"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "04"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #00365b
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
    
    
    
    
}	




/* 체크박스 */
label.check {
    cursor: pointer
}

label.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.check span {
    padding: 7px 14px;
    border: 2px solid #6b5bf5;
    display: inline-block;
    color: #6b5bf5;
    border-radius: 3px;
    text-transform: uppercase
}

label.check input:checked+span {
    border-color: #6b5bf5;
    background-color: #6b5bf5;
    color: #fff
}	




.box-file-input label{
  display:inline-block;
  background:#6b5bf5;
  color:#fff;
  padding:0px 15px;
  line-height:35px;
  cursor:pointer;
  border-radius: 3px
}

.box-file-input label:after{
  content:"파일등록";
}

.box-file-input .file-input{
  display:none;
}

.box-file-input .filename{
  display:inline-block;
  padding-left:10px;
}
/*  */

.box-file-input1 label{
  display:inline-block;
  background:#6b5bf5;
  color:#fff;
  padding:0px 15px;
  line-height:35px;
  cursor:pointer;
  border-radius: 3px
}

.box-file-input1 label:after{
  content:"파일등록";
}

.box-file-input1 .file-input1{
  display:none;
}

.box-file-input1 .filename1{
  display:inline-block;
  padding-left:10px;
}
/* 2 */

.box-file-input2 label{
  display:inline-block;
  background:#6b5bf5;
  color:#fff;
  padding:0px 15px;
  line-height:35px;
  cursor:pointer;
  border-radius: 3px
}

.box-file-input2 label:after{
  content:"파일등록";
}

.box-file-input2 .file-input2{
  display:none;
}

.box-file-input2 .filename2{
  display:inline-block;
  padding-left:10px;
}


/* 3 */

.box-file-input3 label{
  display:inline-block;
  background:#6b5bf5;
  color:#fff;
  padding:0px 15px;
  line-height:35px;
  cursor:pointer;
  border-radius: 3px
}

.box-file-input3 label:after{
  content:"파일등록";
}

.box-file-input3 .file-input3{
  display:none;
}

.box-file-input3 .filename3{
  display:inline-block;
  padding-left:10px;
}


/* 4 */

.box-file-input4 label{
  display:inline-block;
  background:#6b5bf5;
  color:#fff;
  padding:0px 15px;
  line-height:35px;
  cursor:pointer;
  border-radius: 3px
}

.box-file-input4 label:after{
  content:"파일등록";
}

.box-file-input4 .file-input4{
  display:none;
}

.box-file-input4 .filename4{
  display:inline-block;
  padding-left:10px;
}


/* 5 */

.box-file-input5 label{
  display:inline-block;
  background:#6b5bf5;
  color:#fff;
  padding:0px 15px;
  line-height:35px;
  cursor:pointer;
  border-radius: 3px
}

.box-file-input5 label:after{
  content:"파일등록";
}

.box-file-input5 .file-input5{
  display:none;
}

.box-file-input5 .filename5{
  display:inline-block;
  padding-left:10px;
}
